 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-dark
{
    background-color: #000000 !important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-expand-lg, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(43, 36, 36) !important;
  }
  
  .navbar-dark .navbar-nav .nav-link
  {
    color: rgb(255, 255, 255) !important;
    font-size: 100% !important;
  }

  .joe
  {
      position: absolute;
      top: 34px;
      left: 650px;
      font-family:'Courier New', Courier, monospace;
      font-weight: 1000;
      font-size: 150%;
      color: #fff;
  }
  .background
  {
      position: relative;
      padding-top: 1px;
  }

  .content
  {
      color: #fff;
      top: 330px;
      left: 20px;
      font-size: 300%;
      position: absolute;
  }

  .not-stolen
  {
      position: absolute;
      color: #fff;
      top: 400px;
      left: 20px;
      font-size: 175%;
  }

  .footer
  {
      font-size: 20px;
      padding: 25px;
    color: black;
    background-color: black;
    margin-top: 1px;
  }

  .portfolio {
    display: grid;
    grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  
  img 
  {
    width: 100%;
  }

  .page
  {
      background-color: black;
  }
  